<% provide(:title, 'Sign up') %>
<h1>新規登録</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="col-md-8 col-md-offset-2">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
  
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
  
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
  
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <%= f.submit "登録", class: "btn btn-primary" , id: "login" %>
      <% end %>
      </div>
    </div>
  </div>
</div>