<% provide(:title, 'show report') %>
<% provide(:button, '表示') %>
<h1>近日１０日間の達成</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% @reports.each do |i| %>
      <td>
        <font color="#ff0000"><p>年月日 = <%= i.datepicker_value %></p></font>
        <p>練習場所 = <%= i.location %></p>
        <p>練習時間 = <%= i.time %></p>
        <p>体調     = <%= i.condition %></p>
        <p>強度     = <%= i.intensity %></p>
        <p>練習内容 = <%= i.point %></p>
        <p>掲示板   = <%= i.report %></p>
      </td>
    <% end %>
    <div class="col-md-1 col-md-offset-1">
      <%= link_to "ok", root_path , class: "btn" , id: "submit_btn" %>
    </div>
  </div>
</div>